<div class="login-block">
    <h1>Database Connect</h1>
    <input type="text" value="localhost" placeholder="Database Host" id="address" class="host" />
    <input type="text" value="27017" placeholder="Port" id="port" class="host" />
    <input type="text" value="" placeholder="Username" id="username" />
    <input type="password" value="" placeholder="Password" id="password" />
    <button id="submit">Submit</button>

    <!-- Static JS to deliver the input to Streamable object-->
    <script type="text/javascript" src="/javascripts/form.js"></script>
</div>