<div class="login-block">
    <h1>Database Connect</h1>
    <div class="input">
        <input type="text" value="localhost" placeholder="Database Host" id="address" class="host" />
        <input type="text" value="27017" placeholder="Port" id="port" class="host" />
        <input type="text" value="" placeholder="Username" id="username" class="" />
        <input type="password" value="" placeholder="Password" id="password" class="" />

        <div class="pick-tables" class="text-center">
            <p class="tables text-center">Pick tables:</p>
            <label class="checkbox-inline"><input type="checkbox" value="User" class="checkbox-input">Users</label>
            <label class="checkbox-inline"><input type="checkbox" value="Restaurant" class="checkbox-input">Restaurants</label>
            <label class="checkbox-inline"><input type="checkbox" value="Car" class="checkbox-input">Cars</label>
        </div>

        <button id="submit" class="">Submit</button>
    </div>

    <div id="loader" class="text-center">
        <% include loader %>
        <p id="check" class="glyphicon glyphicon-ok" aria-hidden="true"></p>
        <p class="loader-msg text-center">Loading stream to console...</p>
    </div>

</div>

<!-- Static JS to deliver the input to Streamable object-->
<script type="text/javascript" src="/javascripts/form.js"></script>