<div class="DNA_cont">
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
    <div class="nucleobase"></div>
</div>